*{
    margin: 0;
    padding: 0;
}
nav ul{
    margin-left: 100px;
    padding: 15px;
    
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #393636;
    font-size: 15px;
}